fastapi==0.115.8
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.10.6
pydantic-settings==2.7.1
email-validator==2.1.1
httpx==0.27.2
python-dateutil==2.9.0.post0

# MongoDB
motor==3.4.0
pymongo==4.6.3

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Google OAuth
google-auth==2.29.0
